*.class

# Package Files #
*.jar
*.war
*.ear

/Kickstarter/nbproject/private/
/Kickstarter/build
/Kickstarter/dist

/Kickstarter/src/.classpath
/Kickstarter/src/.project
/Kickstarter/src/.settings/org.eclipse.core.resources.prefs
/Kickstarter/src/.settings/org.eclipse.core.resources.prefs
